<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
    
    <h1 v-text>{{titulo}}</h1>

    <p>Nombre
        <input type="text" v-model="datos.nombre">
    </p>
    <p>Apellidos
        <input type="text" v-model="datos.apellidos">
    </p>
    <p>Usuario
        <input type="text" v-model="datos.usuario">
    </p>
    <p>Calendario
        <input type="date" v-model="datos.fechaNacimiento">
    </p>

    <button id="enviar" v-on:click="guardar">Enviar</button>
    <button id="verUsuarios"  v-on:click="verUsuarios">Ver usuarios</button>

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="main.js"></script>
</html>